{% extends 'base.html' %}


{% block start %}
{{request.user.first_name}}
{{request.user.last_name}}
<main>
    <h1>Recipe Collection</h1>

    <form method="GET">
        <input type="text" name="search" placeholder="Search recipes..." required>
        <button type="submit">Search</button>
    </form>

    <div class="recipe-container">
        {% for recipe in recipes %}
        <div class="recipe-card">
            <h2>{{ recipe.recipe_name }}</h2>
            <p>{{ recipe.recipe_description }}</p>

            {% if recipe.recipe_image %}
                <img src="{{ recipe.recipe_image.url }}" alt="{{ recipe.recipe_name }}" class="recipe-image"/>
            {% else %}
                <p>No image available.</p>
            {% endif %}

            <form action="/delete-recipe/{{ recipe.id }}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>

            <a href="/update-recipe/{{ recipe.id }}" class="btn btn-primary">Update</a>

        </div>
        {% empty %}
            <p>No recipes found.</p>
        {% endfor %}
    </div>
</main>



{%  endblock  %}